.container__Small-card {
    display: flex;
    flex-direction: row;
    margin: 7.5px;
    -webkit-box-shadow: 6px -3px 15px 0px rgb(0 0 0 / 48%);
    box-shadow: 6px -3px 15px 0px rgb(0 0 0 / 48%); 
}

.small__Card-image {
    object-fit: cover;
    height: 100%;
    margin-right: 10px;
}

.small__Card-Description {
    color: gray;
}