<div class="container__content">
    <div class="content__header">
        <div class="imgPost">
            <img src="{{ photoCover }}" alt="" srcset="">
        </div>
        <div class="content__info">
            <h2>{{ title }}</h2>
        </div>
        <hr />
    </div>
    <div class="content__body">
        <div class="content__text-post">
            {{ description }}
        </div>
    </div>
    <div class="content__footer">
        <div class="content__pagination">
            <div class="previewPost">
                <button class="btnPagination">Voltar</button>
            </div>
            <div class="nextPost">
                <button class="btnPagination">Avançar</button>
            </div>
        </div>
    </div>
</div>