.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container nav {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.container hr {
	width: 100vw;
	color: black;
	margin-bottom: 5px;
}

.container nav ol {
	display: flex;
	list-style: none;
	font-weight: 600;
	font-size: 14px;
	justify-content: start;
}

.container nav ol a {
	text-decoration: none;
	font-size: 16px;
	color: black;
	text-align: center;
}
.container nav ol a:hover {
	color: rgb(15, 106, 176);
	transition: 0.3s ease-in-out;
	text-align: center;
}

.social-media-icons {
	width: 30px;
	height: 30px;
}

.container nav ol li {
	padding: 0 50px;
}
